.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.profile {
  width: 320px;
  border: 2px solid #293133;
  border-radius: 10px;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.avatar {
  border-radius: 50%;
  max-width: 120px;
  background-color: #293133;
}

.username {
  font-weight: 700;
  font-size: 24px;
}

.tag,
.location {
  font-size: 18px;
  color: #827d7d;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #827d7d;
  background-color: #dadada;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100%) / 3);
  font-size: 18px;
  padding: 15px;
}

.item:not(:last-child) {
  border-right: 2px solid #827d7d;
}

.quantity {
  font-weight: 700;
}
